*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  justify-content: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: gray;
  
}
h1{
  color: wheat
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: antiquewhite;
  
}
td {
  padding: 10px;
}
th {
  background-color: wheat
}

