body{
  background-color: brown;
  border: 10px salmon;
}
.container
{
   font-size: larger;
   font-style: oblique;
   font-variant: inherit;
  background-color: yellow;
  border: 2px solid black;
  font-weight: bold;
  width: 400px;
  height: 400px;
  margin: 40px;
  padding-left: 200px;
}

.child
{
  background-color: coral;
  margin-top:  10px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 10px solid gray;
  width: 150px;
  height: 110px;
  padding: 10px;
  padding-top: 150px;
  color: darkgreen;
  border-radius: 50%;
}
.a{
  background-color: lightblue;
}
