body{
  background-color: aqua;
}
.container{
  background-color: aquamarine;
  height: 300px;
  border: 2px solid red;
  width: 800px;
  margin: 40px 20px;
  margin-left: 15px;
}
.child1{
  background-color: brown;
  height: 150px;
  margin: 30px;
  padding-bottom: 20px;
}