
* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

/* Container Styles */

.container {
  background-color: rgb(55, 41, 161);
  height: 300px;
  border: 3px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 40px 20px 30px 33px; /* uncommented padding styles */
  color: blanchedalmond;
}

/* Child Styles */

.child {
  height: 200px;
  width: 200px;
  border: 2px solid green;
  display: inline-block;
}

.child:nth-child(1) {
  background-color: rgb(87, 79, 36);
}

.child:nth-child(2) {
  background-color: #991111;
}

.child:nth-child(3) {
  background-color: green;
}